body {
	font-family: 'Helvetica', sans-serif;
	background-color: #fefefe;
}

div.header {
	background-color: black;
}

div.header h1 {
	font-size: 100px;
	text-transform: uppercase;
	margin-top: 0;
	line-height: 70px;
	color: rgba(255,255,255,0.6);
}

div.header h2 {
	font-size: 70px;
	position: relative;
	color: rgba(255,255,255,0.6);
}

div.header h2:before,
div.header h2:after {
    content: "";
    position: absolute;
    height: 43px;
    border-bottom: 5px solid rgba(255, 255, 255, .6);
    top: 0;
    width: 35%;
}

div.header h2:before {
    right: 5%;
    margin-right: 50px;
}

div.header h2:after {
    left: 5%;
    margin-left: 50px;
}

div.footer {
	background-color: black;
	height: 100px;
}

div.footer .container {
	height: 100%;
	position: relative;
}

div.footer .author {
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	position: absolute;
	right: 5px;
	bottom: 5px;
}