body {
	font-family: 'Helvetica', sans-serif;
	background-color: #fefefe;
}

div.header {
	background-color: black;
	width: 100%
}

div.header h1 {
	font-size: 100px;
	text-transform: uppercase;
	margin-top: 0;
	line-height: 70px;
	color: rgba(255,255,255,0.6);
}

div.header h2 {
	font-size: 70px;
	position: relative;
	color: rgba(255,255,255,0.6);
}

div.header h2:before,
div.header h2:after {
    content: "";
    position: absolute;
    height: 43px;
    border-bottom: 5px solid rgba(255, 255, 255, .6);
    top: 0;
    width: 35%;
}

div.header h2:before {
    right:5%;
    margin-right: 0;
}

div.header h2:after {
    left: 5%;
    margin-left: 0;
}

div.main-content {
	position: absolute;
}

div.main-content .black-top {
	height: 150px;
    width: 100%;
    background-color: black;
    position: absolute;
    left: 0;
}

div.main-content .albums {
	margin-top: 50px;
}

div.footer {
	background-color: yellow;
	height: 100px;
	position: bottom;
}

div.footer .container {
	height: 100%;
	position: relative;
	background:red;
}

div.footer .author {
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	position: absolute;
	right: 0px;
	bottom: 5px;
}